# Node / build artifacts
node_modules
dist
.build
.tmp

# Cloudflare / Wrangler local files
.wrangler/

# Local env & secrets
.dev.vars

# Backup / temp files
*.save
*.log
.DS_Store
.dev.vars
cmg_evals/
